*{
   margin: 0;
   padding: 0;
}
.weather{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: center;
   align-items: center;
   
}
.forecast{
   padding: 10px;
   border-radius: 20px;
   background-color: #f4f1f154;
   color: black;
   text-align: center;
   
} 
.forecast:hover{
   box-shadow: 6px 7px 5px #12121233;
}
.page{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
   padding: 20px;
 
}
